@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-size:cover;
    color:white;
    background-image:url("about.jpg")
    
}
*{
    margin:0;
    padding:0;
    
}
.About-Section{
    opacity:0;
    transition:opacity 2s ease-in;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top:40px;
    margin-left:50px;
    animation: fadeIn 2s ease-in forwards;
    font-size:16px;
}
@keyframes fadeIn {
    from {
        opacity: 0; 
        transform: translateY(20px);
    }
    to {
        opacity: 1; 
    }
}




.About-Section.show{
    opacity:1;
}
.About-Me{
    margin-top:100px;
    margin-left:80px;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
}
