@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin:0;
  padding:0;
  color:white;
}
.navbar{
  border:5px  ;
  font-size:21px;
}
.nav{
  
  display:flex;
  justify-content: right;
  list-style-type: none;
  margin-right:50px;
  gap: 100px;
  margin-top:50px;
  
}
.nav a{
 
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
.myName{
  font-size:50px;
  margin-left:150px;
  margin-top:170px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  
}
.myProfession{
  font-size:20px;
  margin-left:156px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 15px;
}
body{
  background-image:url("1527.jpg");
  background-size:cover;
  height:100vh;
  background-position:center;
  
}

.foot{
  display: flex;
  flex-direction: column;
  background-color:black;
  min-height:20vh;
  text-align:center;
  margin-top:400px;

  
  
}
.foot-content{
  padding-top: 20px;; 
  font-family: "Varela Round", sans-serif;
  font-weight: 100;
  font-style: normal;

}
#email{
  padding-top:10px;
}
.foot-content2{
  display:flex;
  list-style-type:none;
  margin-top:10px;
  margin-left:720px;
  gap:20px;
  font-size:35px;
}